RewriteEngine on
RewriteCond %{HTTP_HOST} ^local.boggle.pl$ [NC,OR]
RewriteCond %{HTTP_HOST} ^local.boggle.pl$
RewriteCond %{REQUEST_URI} !public/
RewriteRule (.*) /public/$1 [L]

Header set Access-Control-Allow-Origin "*"
