$light-green: #edfae1;
$bg-color: #efffef;
$light-green-hover: #ebeee8;
$green: #c5e3aa;
$light-red: #ffeae8;
$red: #e69999;
$dark-red: #511;
$color-text: #333;
$error-color: #511;
$error-background: #faa;
$error-border: #d33;