.agentsWordBox {
  background-color: #ddd;
  width: 100%;
  max-width: 1024px;
  margin: 5vh auto 0px auto;
}

.agentsWord {
  width: 20%;
  font-size: 20px;
  font-family: Nunito;
  font-weight: 600;
  box-sizing: border-box;
  padding: 5vh;
  text-align: center;
  border: 1px solid #aaa;
  float: left;
}

.cursor-pointer {
  cursor: pointer;
}

.black {
  background-color: #555;
}

.red {
  background-color: #fba;
}

.blue {
  background-color: #b1ffaa;
}

.default {
  background-color: #eee;
}

.head_bar {
  width: 100%;
  padding: 10px;
  height: 50px;
}

.f-left {
  float: left;
}

.btn {
  text-decoration: none;
  color: #222;
  border: 1px solid #222;
  border-radius: 5px;
  margin: 5px;
}

.btn-default {
  background-color: #fff;
}

.btn-default:hover {
  background-color: #eee;
}