.player {
    width: 300px;
    height: auto;
    background-color: #ddd;
    border: 1px solid #222;
    box-sizing: border-box;
    margin: 10px;
    float: left;
}

.namePlayer {
    padding: 10px;
    margin: 0px;
    text-align: center;
}

.newWord {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.checkPlayerButton {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}