@import '../../../variable.scss';

.letter {
    box-sizing: border-box;
    width: 20%;
    height: 20%;
    float: left;
    padding: 0px;
    border-radius: 5px;
    margin: 2.5%;
}

.letter-green {
    background-color: $light-green;
    border: 2px solid $green;
}

.letter-red {
    background-color: $light-red;
    border: 2px solid $red;
}

.letter p {    
    line-height: 3.4;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    text-align: center;
}