@import '../../variable.scss';

.backgroundModal {
    width: 100%;
    height: 100vh;   
    background-color: #222;
    opacity: .7;
    position: fixed;
    top: 0;
    z-index: 20;
}

.backgroundModalLogin {
    width: 100%;
    height: 100vh;
    position: absolute;
}

.modalContent {
    width: 300px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    position: relative;
    background-color: $bg-color;
    color: #333;
    opacity: 1;
    z-index: 200;
    padding: 10px;
}

.modalHeader {
    padding: 10px;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    font-weight: 700;
}

.LoginRow {
    align-items: center;
}

.LoginRow > label {
    width: 35%;
    float: left;
    line-height: 1.9;
    box-sizing: border-box;
}

.LoginRow > input {
    width: 65%;
    border: 1px solid #333;
    box-sizing: border-box;
}

.loginButton {
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    &:hover{
        background-color: $light-green-hover;
    }
}

/* Alert */
.centerModal {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    display: block;
    text-align: center;
    font-size: 12px;
}